<div class="bg-img-2">
<h1 class=" text-white ps-5 pt-4 ">Our Mission</h1>
	
<div class="bg-white m-4 p-5 shadow">
		<h5>In India there is a huge problem of food wastage in functions and various events and 
			also there are many people who do not even get food for their daily needs. 
			There are NGOs tackling this situation and helping people get their basic food requirements and nutrition.
			 If we look around we too see people sleeping empty stomach. 
			 We therefore thought of creating a website which would help in creating a connection 
			 between the Donators and people. The people who have events like weddings and celebrations, 
			 the food which is extra should not go to waste. This is where our website comes in handy. 
			 The HELPING HANDS will connect the people to donators and inform them about the food availability 
			 and the Donators will communicate with them and deliver the extra food to the people in need.
			  Therefore, solving the problem of hunger, food scarcity, food wastage and will help in providing 
			  proper nutrition to all and lead us all to a healthy tomorrow.</h5>
</div>
</div>
